@import "_variables";
@import "_normalize";
@import "_skeleton";

html, body {
	min-height: 100%;
}

body {
	background-color: #eee;
	font-family: $text-type;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-type;
}


.highlight {
	color: $primary-color;
}

a {
	color: $primary-color;
}

section.hero {
	background-image: url('/images/hero-2.jpg');
	background-size: cover;
	background-position: center 70%;
	padding: 20rem 0 19rem;
	box-shadow: inset 0 0 200px 0 rgba(0, 0, 0, 0.4);

	h1 {
		color: $light-color;
		text-shadow: 0 0 40px #000;
		font-family: $header-type;
		text-align: center;
		font-size: 10rem;
	}
}