@import "_variables";
@import "_normalize";
@import "_skeleton";

html, body, #content {
	height: 100%;
}

.test {
	display: flex;
	flex-direction: column;
	height: 100%;

	.header {
		flex-grow: 0;
		order: 1;
		padding: 10px;

		.menu {
			display: flex;
			h1 {
				margin: 0;
				flex-grow: 1;
				font-family: $header-type;
				color: $primary-color;
				line-height: 1;
			}

			a {
				text-align: right;
				flex-grow: 0;
				display: inline-block;
				align-self: center;
				color: $primary-color;
			}
		}

		.search {
			display: flex;
			.search-input {
				flex-grow: 3;
				margin: 0 10px 10px 0;
			}

			.search-button {
				flex-grow: 1;
				margin: 0;
				max-width: 200px;
			}

			@media (max-width: 350px) {
				& {
					display: block;
					flex-wrap: wrap;
				}

				.search-button, .search-input {
					max-width: none;
					width: 100%;
				}
			}
		}
	}

	.content {
		flex-grow: 1;
		order: 2;
		display: flex;
		flex-direction: column;

		.map {
			border-top: 1px solid #d1d1d1;
			flex-grow: 1;
			order: 10;
			position: relative;
		}

		.dishes {
			border-top: 1px solid #d1d1d1;
			flex-grow: 0;
			order: 15;
			padding: 10px;
		}

		@media (min-width: 640px) {
			& {
				flex-direction: row;
			}

			.map {
				flex-grow: 2;
			}

			.dishes {
				order: 5;
				flex-grow: 1;
				border-right: 1px solid #d1d1d1;
			}
		}
	}
}