@import "_variables";

.dish {
	display: block;
	width: 100%;

	a {
		color: inherit;
		text-decoration: none;

		&:hover, &:active {
			color: $primary-color;
		}
	}

	h2 {
		font-size: 1.6em;
		margin: 10px 0;
	}
}