@import "_variables";

.dish {
	display: block;

	a {
		color: inherit;
		text-decoration: none;

		&:hover, &:active {
			color: $primary-color;
		}
	}

	h2 {
		font-size: 1.6em;
		margin: 10px 0;
	}

	img {
		max-width: 100% !important;
		height: auto;
		display: block;
	}
}