@import "_variables";
@import "_breakpoints";

.editAccount {
	margin: 10px;
	max-width: 600px;
	margin: 0 auto;
	padding: 10px;

	input {
		width: 100%;
	}
}

.editPassword {
	margin: 10px;
	max-width: 600px;
	margin: 0 auto;
	padding: 10px;

	input {
		width: 100%;
	}
}