@import "_variables";

.overlay {
	position: absolute;
	content: 'asdasdasdasd';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.login {
	position: absolute;
	background-color: #fff;
	padding: 20px;
	border: 1px solid $dark-color;
	border-radius: 3px;

	$width: 300px;

	width: $width;
	height: auto;
	top: 30%;
	left: calc(50% - #{$width / 2});

	input[type="text"], input[type="password"] {
		width: 100%;
	}

	button {
		float: right;
	}

	hr {
		clear: both;
		margin: 10px 0;
	}

	p {
		margin: 0;
	}
}