@import "_variables";
@import "_breakpoints";

.searchResults {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;

	.dish {
		display: inline-block;
		box-sizing: border-box;
		padding: 10px;

		@include media-breakpoint-up(md) { & { width: 50%; } }
		@include media-breakpoint-up(lg) { & { width: 33%; } }
		@include media-breakpoint-up(xl) { & { width: 25%; } }
	}
}