@import "_variables";
@import "_breakpoints";

.searchResults {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;

	span {
		display: block;
		width: 100%;
		text-align: center;
		padding: 80px;
		font-size: 1.3em;
	}

	.dish {
		display: inline-block;
		box-sizing: border-box;
		padding: 10px;

		@include media-breakpoint-up(md) { & { width: 50%; } }
		@include media-breakpoint-up(lg) { & { width: 33%; } }
		@include media-breakpoint-up(xl) { & { width: 25%; } }
	}
}