@import "_variables";
@import "_breakpoints";

@include media-breakpoint-up(xs) {
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		flex-direction: row;
		padding: 0 20px;
		background-color: $light-color;
		border-bottom: 1px solid desaturate(darken($light-color, 5%), 40%);


		h1 {
			margin: 0;
		}

		nav {
			flex-grow: 0;

			ul {
				margin: 0;
				padding: 0;

				li.header {
					display: none;
				}

				li {
					display: inline-block;
					margin: 0 10px;
				}
			}		
		}
	}
}

@include media-breakpoint-only(xs) {
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		flex-direction: row;
		padding: 0 10px;
		background-color: $light-color;
		border-bottom: 1px solid desaturate(darken($light-color, 5%), 40%);

		h1 {
			flex-grow: 1;
			text-align: center;
			margin: 0;
		}

		input[name="search"] {
			flex-grow: 1;
			margin: 20px 20px 0 20px;
		}

		nav {
			flex-grow: 0;
			order: -1;
			
			&:before {
				content: '≡';
				padding: 5px;
				color: $primary-color;
				font-size: 3em;
				cursor: pointer;
			}

			ul {
				transform: translateX(-270px);
				transition: transform 0.3s;
				transition-timing-function: ease-in-out;

				&.open {
					transform: translateX(0);
					box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
				}			

				display: block;
				background-color: $dark-color;
				background-image: url('/images/congruent.png');
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				flex-direction: row-reverse;
				margin: 0;
				padding: 180px 120px 0 40px;
				list-style-type: none;

				li.header {
					color: #fff;
					margin-bottom: 40px;
				}

				li {
					display: block;
					margin: 10px 0;

					a {
						color: #FFF;
						font-size: 1.2em;
						text-decoration: none;

						&:hover, &:active {
							color: $primary-color;
						}
					}
				}
			}
		}
	}
}