@import "_variables";
@import "_breakpoints";

body {
	background: url('/images/beach.jpg');
	background-position: center center;
	background-size: cover;
}

.search {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 200px 0;

	h2 {
		text-align: center;
	}

	form {
		padding: 10px;

		@include media-breakpoint-up(sm) {
			min-width: 450px;
		}		

		input[name='food'] {
			width: 100%;
			margin: 0 0 5px 0;
		}

		.options {
			width: 100%;
			display: block;

			@include media-breakpoint-up(sm) {
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				align-items: baseline;
			}

			.location {
				display: block;
				margin: 0 5px 5px 5px;

				@include media-breakpoint-up(sm) {
					flex-grow: 0;
					margin: 0 10px 0 5px;
				}
			}

			input[name='location'] {
				margin: 0 0 5px 0;

				@include media-breakpoint-down(sm) {
					width: 100%;
				}

				@include media-breakpoint-up(sm) {
					margin: 0 5px 0 0;
					flex-grow: 1;
				}
			}

			button {
				@include media-breakpoint-down(sm) {
					float: right;
				}

				flex-grow: 0;
				font-size: 1.4rem;
			}
		}

	}
}